extends layout

block content
    div(class='container')
        h1= title
        p Welcome to #{title}
        div(class='row')
            div(class='col border border-secondary' id='messages')
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
                    p Hello
        div(class='clearfix' style='padding-bottom:5px')
        div(class='row')
            div(class='col')
                form
                    div(class='form-group')
                        textarea(class='form-control' rows='4')
                    div(class='form-group')
                        button(type='button' class='btn btn-primary') Submit
